.blog-post {
    padding: 6rem 24rem 6rem 24rem;
    font-size: 1.6rem;
    font-family: var(--font-sans);

    @include respond(tab-port) {
        padding: 2rem 2rem;
    }

    @include respond(phone) {
        font-size: 2.4rem;
    }

    &__content {
        margin: 1.6rem 0;
        @include respond(phone) {
            font-size: 2.4rem;
        }
    }

    &__details {
        width: 100%;
        padding: 4rem 6rem;
        margin: 3rem 0;
        font-style: italic;
        border-radius: .4rem;
        background-color: var(--color-grey-light-1);
        color: var(--color-grey-dark-2);
    }

    &__code-container {
        border-radius: 1rem;
    }

    &__image-container {
        &--small {
            max-width: 30rem;
        }
        width: 100%;
        margin: 3rem auto;
    }

    &__image {
        width: 100%;
    }

    &__image-caption {
        font-size: 1.4rem;
        font-family: var(--font-serif);
        text-align: center;
    }
}