.blog-post {
    padding: 6rem 24rem 6rem 24rem;
    font-size: 1.6rem;
    font-family: var(--font-sans);

    @include respond(tab-port) {
        padding: 6rem 6rem;
    }

    @include respond(phone) {
        font-size: 2.4rem;
    }

    &__content {
        margin-top: 1.6rem;
        @include respond(phone) {
            font-size: 2.4rem;
        }
    }
}