.button,
.button:visited,
.button:link {

    padding: 1.5rem 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: var(--font-sans);
    color: #fff;
    transition: all .2s;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    box-sizing: content-box;
    border: 2px dashed var(--color-primary);
    background-color: #fff;
    color: var(--color-primary);

    &:hover {
        border:2px solid transparent;
        display: block;
        background-color: var(--color-primary);
        color: #fff;
    }
}