.web-img {
    width: 100%;
    display: block;
    padding: 2rem;

    &__image {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
    }

    &__caption {
        margin-top: 1.2rem;
    }
}