extends base.pug
include mixins

block navigation
    +nav_bar("blog")

block header
    header.hero
        div(class="hero__background hero__background--blog")
        .hero__message
            h1(class="heading-primary") Learning Publicly
            p(class="description")
                | I'm planning to write about things I learn as I learn them. I'm going to do this
                | for a couple reasons: I want to share what I learn and what I'm interested in; 
                | Explaining ideas helps me understand them; This gives me an opportunity to make
                | demos.
            br
            p(class="description")
                | So, I am going to learn publicly. Whenever I learn something that's interesting, I'll
                | write up an explanation and talk about why I think it's awesome. I don't think this will
                | be made up of exclusively technical content. I'm interested in lots of things outside of
                | engineering: baking, emojis, politics, cats, and corgis. 
            br
            p(class="description")
                | Also, please note and remember that all my views in this blog are strictly my views. That is, they do 
                | not extend to the beliefs of my employers, friends, or families, nor are they
                | representative of anybody's opinions other than my own. They are subject to change without notice.
                | Learning is a process and my opinions, like everything, evolve with time.
            br
            p(class="description") 
                | Photo by Nick Fewings on Unsplash

block body
    section(class="section section--vertical-content")
        h1(class="heading-primary" id="about-me") Posts
        +blog_preview( "iOS 13 Shortcuts", "iOS 13 comes with a powerful application called Shortcuts. It might be new, it might have already existed. I don't know! Either way, let's learn how to use it to communicate with a server.", "ios_shortcuts_ssh.html", "https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", "October 14th, 2019")
        +blog_preview( "Voice Spoofing", "I'm working on a cool project for a class that I want you to know about!", "cqcc_spoof_recognition.html", "https://images.unsplash.com/photo-1512446816042-444d641267d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", "September 30th, 2019")
        +blog_preview( "Hello, world!", "\"Yay, another blog!\" - Nobody Ever", "hello_world.html", "https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80", "September 24th, 2019")
